/*---------------------------
        Utilities
-----------------------------*/
.visible{
    display: block;
}

.hidden{
    display: none;
}

/*---------------------------
        Header Design
-----------------------------*/
.login{
    height: calc(100vh - 64px);
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    overflow: hidden;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title{
    font-weight: 900;
    font-size: 40px;
    margin: 0;
    line-height: 40px;
}

.form-text{
    margin: 0;
}

.form-wrapper{
    margin-top: 20px;
    width: 50%;
}

.input{
    padding: 15px;
    border-radius: 5px;
}

.input + .input{
    margin-top: 15px;
}

.form-login-btn-container{
    margin: 0;
}

.form-login-btn{
    padding: 15px;
    height: fit-content;
}

.form-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-footer-text{
    font-weight: 500;
    color: #023047;
    font-size: 13px;
}

.forgot-btn{
    padding: 0;
}

.img-container{
    background-color: #023047;
    display: flex;
    justify-content: center;
    height: 100%;
}

.img-container img{
    width: 80%;
}

.spinner-wrapper{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ant-spin-dot{
    height: 50px;
    width: 50px;
}

.ant-spin-lg .ant-spin-dot i{
    height: 20px;
    width: 20px;
    background-color: #fb8501;
}

/*----------------------------------
        Login Responsiveness
----------------------------------*/
@media screen and (max-width: 768px) {
    .login{
        grid-template-columns: 1fr;
        margin: auto 0;
    }

    .form-title {
        font-weight: 900;
        font-size: 30px;
        margin: 0;
        line-height: 40px;
    }

    .form-wrapper{
        width: 80%;
    }

    .img-container{
        display: none;
    }
}